/* Text Style */

h1 {
    font-family: 'San Francisco', sans-serif;
  font-weight: 500;
  font-size: 32px
  color: white;
  text-align: center;
    }

p {
    font-family: 'San Fransisco', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: white;
    text-align: center;
    }

a {
    font-family: 'San Francisco', sans-serif;
    font-weight: 500;
    font-size: 12px
    color:white;
    text-align: center;
}

/* Image Style */

img {
    border: 2px solid #000;
    border-radius: 1px;    
    ascpect-ratio: 16/9;
}

/* Backround Style */

header {
  background-color: black;
    font-size: 24px;
    height: 20px;
}

body {
    background-color: black;
    background-image: linear-gradient(black, #1c1c1c);
    background-repeat: no-repeat;
    padding: 2rems;
}

body {
  font-family: "San Franscisco", sans-serif;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  y-index: 1;
  top: 0;
  left: 0;
  background-color: #1c1c1c;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
