/* Text Style */

h1 {
    font-family: 'Merriweather', serif;
  font-weight: 100;
  color: #000000;
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
    }

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: #000000;
    margin-top: 2rem;
    padding: 2rem;
    text-align: center;
    }

/* Backround Style */
#grad1 {
  height: 200px;
  background-color: silver;
  background-image: linear-gradient(white, silver);
}
