/* Text Style */
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

h1 {
    font-family: 'San Francisco', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #FFF;
    }

h2 {
    font-family: 'San Francisco', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #FFF;
}

p {
    font-family: 'San Fransisco', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #FFF;
    }

a {
    font-family: 'San Francisco', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #712691;
}

/* Image Style */

img {
    width:100%;
}

.cardimg {
    border-radius: 25px;
    border: 1px;
}

.card {
    border-radius: 25px;
    border: 1px;
    float: center;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
}
    
.rightimg {
    width: 50%;
    height: 20%;
}

.leftimg {
    border: 2px solid #000;
    border-radius: 1px;  
    width: 500px;
    height: 250px;
    float: left;
    text-align: left;
}

.mainimg {
    width: 100%;
    height: 50%;
    float: center;
}

.column {
    column_count: 2;
}
    
.centered-column {
    width: 50%;
    margin-right: 30%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.left-column {
    width: 50%;
    padding: 10px;
    height: 200px;
}

.right-column {
    float: right;
    text-align: right;
    width: 50%;
    padding: 10px;
    height: 500px;
}

/* Backround Style */

body {
    background-color: #121212;
    overflow-x: hidden;
}

header {
  background-color: #000;
    color: #fff;
    font-size: 24px;
    height: 60px;
}

.footer {
  text-align: center;
  float: center;
  background: #000;
  margin-top: 20px;
  height: 400px;
  width: 100%;
}



.topnav {
  overflow: hidden;
  background-color: #000;
}

.topnav a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 25px 30px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  background-color: #ddd;
  text-decoration: underlined;
  color: white;
}

.topnav a.active {
  background-color: #04AA6D;
  text-decoration: dotted;
  color: white;
}

</style>
</head>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

/*top nav*/
ul {
    list-style:none;
    padding:0;
    margin:0;
    cursor:pointer;
    height:50px;
}

li {
    padding:15px 15px 15px 0;
    float:left;
    width:120px;
}

li:hover {
    background:grey;
}

li: ul {
    display:none;
    position:obsolute
}

li:hover ul {
    display:block;
    margin-top:15px;
}

li:hover li {
    background: white;
    float:none;
}

li:hover li:hover {
    background:white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
